.vscode/settings.json
bin/Debug/netstandard2.1/BrickHack2021.dll
bin/Debug/netstandard2.1/BrickHack2021.pdb
bin/Debug/netstandard2.1/BrickHack2021.StaticWebAssets.xml
bin/Debug/netstandard2.1/Newtonsoft.Json.Bson.dll
bin/Debug/netstandard2.1/Newtonsoft.Json.dll
bin/Debug/netstandard2.1/System.AppContext.dll
bin/Debug/netstandard2.1/System.Collections.Concurrent.dll
bin/Debug/netstandard2.1/System.Collections.NonGeneric.dll
bin/Debug/netstandard2.1/System.Collections.Specialized.dll
bin/Debug/netstandard2.1/System.ComponentModel.dll
bin/Debug/netstandard2.1/System.ComponentModel.Primitives.dll
bin/Debug/netstandard2.1/System.ComponentModel.TypeConverter.dll
bin/Debug/netstandard2.1/System.Diagnostics.DiagnosticSource.dll
bin/Debug/netstandard2.1/System.Dynamic.Runtime.dll
bin/Debug/netstandard2.1/System.IO.Compression.ZipFile.dll
bin/Debug/netstandard2.1/System.IO.FileSystem.Primitives.dll
bin/Debug/netstandard2.1/System.Linq.dll
bin/Debug/netstandard2.1/System.Linq.Expressions.dll
bin/Debug/netstandard2.1/System.Net.Http.Formatting.dll
bin/Debug/netstandard2.1/System.ObjectModel.dll
bin/Debug/netstandard2.1/System.Reflection.Emit.Lightweight.dll
bin/Debug/netstandard2.1/System.Reflection.TypeExtensions.dll
bin/Debug/netstandard2.1/System.Runtime.InteropServices.RuntimeInformation.dll
bin/Debug/netstandard2.1/System.Runtime.Numerics.dll
bin/Debug/netstandard2.1/System.Runtime.Serialization.Formatters.dll
bin/Debug/netstandard2.1/System.Runtime.Serialization.Primitives.dll
bin/Debug/netstandard2.1/System.Security.Cryptography.OpenSsl.dll
bin/Debug/netstandard2.1/System.Security.Cryptography.Primitives.dll
bin/Debug/netstandard2.1/System.Text.RegularExpressions.dll
bin/Debug/netstandard2.1/System.Threading.dll
bin/Debug/netstandard2.1/System.Xml.ReaderWriter.dll
bin/Debug/netstandard2.1/System.Xml.XDocument.dll
bin/Debug/netstandard2.1/System.Xml.XmlDocument.dll
bin/Debug/netstandard2.1/wwwroot/_framework/blazor.boot.json
bin/Debug/netstandard2.1/wwwroot/_framework/blazor.boot.json.gz
bin/Debug/netstandard2.1/wwwroot/_framework/_bin/BrickHack2021.dll
bin/Debug/netstandard2.1/wwwroot/_framework/_bin/BrickHack2021.dll.gz
bin/Debug/netstandard2.1/wwwroot/_framework/_bin/BrickHack2021.pdb
bin/Debug/netstandard2.1/wwwroot/_framework/_bin/BrickHack2021.pdb.gz
obj/BrickHack2021.csproj.nuget.dgspec.json
obj/BrickHack2021.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/netstandard2.1/BrickHack2021.assets.cache
obj/Debug/netstandard2.1/BrickHack2021.csproj.CoreCompileInputs.cache
obj/Debug/netstandard2.1/BrickHack2021.csproj.FileListAbsolute.txt
obj/Debug/netstandard2.1/BrickHack2021.csprojAssemblyReference.cache
obj/Debug/netstandard2.1/BrickHack2021.dll
obj/Debug/netstandard2.1/BrickHack2021.pdb
obj/Debug/netstandard2.1/blazor/blazor.boot.json
obj/Debug/netstandard2.1/blazor/boot.json.input
obj/Debug/netstandard2.1/blazor/unlinked/BrickHack2021.dll
obj/Debug/netstandard2.1/blazor/unlinked/BrickHack2021.pdb
obj/Debug/netstandard2.1/compressed/brotli.manifest.json
obj/Debug/netstandard2.1/compressed/gzip.manifest.json
obj/Debug/netstandard2.1/compressed/_framework/blazor.boot.json.gz
obj/Debug/netstandard2.1/compressed/_framework/_bin/BrickHack2021.dll.gz
obj/Debug/netstandard2.1/compressed/_framework/_bin/BrickHack2021.pdb.gz
obj/Debug/netstandard2.1/integrity/GdPzemFV6Pdl_duXp-B255aJHOeHSdOg_hmkHVZ9XWg=.hash
obj/Debug/netstandard2.1/integrity/iB-hcAnXsMRxBJNEautGvbsoOtdIjjsFexqQA-51ZyA=.hash
obj/Debug/netstandard2.1/integrity/pBAPfggMR0s6KL-oXiTDUVPJxe8AgKw4nmArDH7T0aI=.hash
obj/Debug/netstandard2.1/integrity/QbdwQC5h0KDhxT3t8foHjZt0dCA2PciBmSukVW0-jPw=.hash
obj/Debug/netstandard2.1/integrity/Vgi4cISSNvTQbeWmEzF41K_g2FxouFyGkha0dpwiCvQ=.hash
obj/Debug/netstandard2.1/integrity/YtQKfagt1M6RlYvAz0SB-3wlriyAvu3rXveaBBCynzQ=.hash
obj/Debug/netstandard2.1/Razor/_Imports.razor.g.cs
obj/Debug/netstandard2.1/Razor/App.razor.g.cs
obj/Debug/netstandard2.1/Razor/Pages/About.razor.g.cs
obj/Debug/netstandard2.1/Razor/Pages/Home.razor.g.cs
obj/Debug/netstandard2.1/Razor/Pages/Library.razor.g.cs
obj/Debug/netstandard2.1/Razor/Pages/Saved.razor.g.cs
obj/Debug/netstandard2.1/Razor/Pages/Submit.razor.g.cs
obj/Debug/netstandard2.1/Razor/Shared/MainLayout.razor.g.cs
obj/Debug/netstandard2.1/Razor/Shared/NavMenu.razor.g.cs
obj/Debug/netstandard2.1/Razor/Shared/SurveyPrompt.razor.g.cs
obj/Debug/netstandard2.1/RazorDeclaration/_Imports.razor.g.cs
obj/Debug/netstandard2.1/RazorDeclaration/App.razor.g.cs
obj/Debug/netstandard2.1/RazorDeclaration/BrickHack2021.dll
obj/Debug/netstandard2.1/RazorDeclaration/BrickHack2021.pdb
obj/Debug/netstandard2.1/RazorDeclaration/Pages/About.razor.g.cs
obj/Debug/netstandard2.1/RazorDeclaration/Pages/Home.razor.g.cs
obj/Debug/netstandard2.1/RazorDeclaration/Pages/Library.razor.g.cs
obj/Debug/netstandard2.1/RazorDeclaration/Pages/Saved.razor.g.cs
obj/Debug/netstandard2.1/RazorDeclaration/Pages/Submit.razor.g.cs
obj/Debug/netstandard2.1/RazorDeclaration/Shared/MainLayout.razor.g.cs
obj/Debug/netstandard2.1/RazorDeclaration/Shared/NavMenu.razor.g.cs
obj/Debug/netstandard2.1/RazorDeclaration/Shared/SurveyPrompt.razor.g.cs
obj/Debug/netstandard2.1/staticwebassets/BrickHack2021.StaticWebAssets.Manifest.cache
obj/Debug/netstandard2.1/staticwebassets/BrickHack2021.StaticWebAssets.xml
bin/Debug/netstandard2.1/BrickHack2021.dll
bin/Debug/netstandard2.1/BrickHack2021.pdb
bin/Debug/netstandard2.1/BrickHack2021.StaticWebAssets.xml
bin/Debug/netstandard2.1/wwwroot/_framework/blazor.boot.json
bin/Debug/netstandard2.1/wwwroot/_framework/blazor.boot.json.gz
bin/Debug/netstandard2.1/wwwroot/_framework/_bin/BrickHack2021.dll
bin/Debug/netstandard2.1/wwwroot/_framework/_bin/BrickHack2021.dll.gz
bin/Debug/netstandard2.1/wwwroot/_framework/_bin/BrickHack2021.pdb
bin/Debug/netstandard2.1/wwwroot/_framework/_bin/BrickHack2021.pdb.gz
obj/BrickHack2021.csproj.nuget.dgspec.json
obj/BrickHack2021.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/netstandard2.1/BrickHack2021.assets.cache
obj/Debug/netstandard2.1/BrickHack2021.csproj.CoreCompileInputs.cache
obj/Debug/netstandard2.1/BrickHack2021.csproj.FileListAbsolute.txt
obj/Debug/netstandard2.1/BrickHack2021.csprojAssemblyReference.cache
obj/Debug/netstandard2.1/BrickHack2021.dll
obj/Debug/netstandard2.1/BrickHack2021.pdb
obj/Debug/netstandard2.1/blazor/blazor.boot.json
obj/Debug/netstandard2.1/blazor/boot.json.input
obj/Debug/netstandard2.1/blazor/unlinked/BrickHack2021.dll
obj/Debug/netstandard2.1/blazor/unlinked/BrickHack2021.pdb
obj/Debug/netstandard2.1/compressed/brotli.manifest.json
obj/Debug/netstandard2.1/compressed/gzip.manifest.json
obj/Debug/netstandard2.1/compressed/_framework/blazor.boot.json.gz
obj/Debug/netstandard2.1/compressed/_framework/_bin/BrickHack2021.dll.gz
obj/Debug/netstandard2.1/compressed/_framework/_bin/BrickHack2021.pdb.gz
obj/Debug/netstandard2.1/Razor/_Imports.razor.g.cs
obj/Debug/netstandard2.1/Razor/App.razor.g.cs
obj/Debug/netstandard2.1/Razor/Pages/About.razor.g.cs
obj/Debug/netstandard2.1/Razor/Pages/Home.razor.g.cs
obj/Debug/netstandard2.1/Razor/Pages/Library.razor.g.cs
obj/Debug/netstandard2.1/Razor/Pages/Saved.razor.g.cs
obj/Debug/netstandard2.1/Razor/Pages/Submit.razor.g.cs
obj/Debug/netstandard2.1/Razor/Shared/MainLayout.razor.g.cs
obj/Debug/netstandard2.1/Razor/Shared/NavMenu.razor.g.cs
obj/Debug/netstandard2.1/Razor/Shared/SurveyPrompt.razor.g.cs
obj/Debug/netstandard2.1/RazorDeclaration/_Imports.razor.g.cs
obj/Debug/netstandard2.1/RazorDeclaration/App.razor.g.cs
obj/Debug/netstandard2.1/RazorDeclaration/BrickHack2021.dll
obj/Debug/netstandard2.1/RazorDeclaration/BrickHack2021.pdb
obj/Debug/netstandard2.1/RazorDeclaration/Pages/About.razor.g.cs
obj/Debug/netstandard2.1/RazorDeclaration/Pages/Home.razor.g.cs
obj/Debug/netstandard2.1/RazorDeclaration/Pages/Library.razor.g.cs
obj/Debug/netstandard2.1/RazorDeclaration/Pages/Saved.razor.g.cs
obj/Debug/netstandard2.1/RazorDeclaration/Pages/Submit.razor.g.cs
obj/Debug/netstandard2.1/RazorDeclaration/Shared/MainLayout.razor.g.cs
obj/Debug/netstandard2.1/RazorDeclaration/Shared/NavMenu.razor.g.cs
obj/Debug/netstandard2.1/RazorDeclaration/Shared/SurveyPrompt.razor.g.cs
obj/Debug/netstandard2.1/staticwebassets/BrickHack2021.StaticWebAssets.Manifest.cache
obj/Debug/netstandard2.1/staticwebassets/BrickHack2021.StaticWebAssets.xml
