@page "/"

<h1>Welcome to Kingdom Of Coffee!</h1>

Here you can find new coffee drinks to make at home or try at coffee shops near you! 
We created this website to bring people together over thier mutual love of coffee. 
Not only can you share your favorite coffee recipes, you can support local cafes by promoting, posting, or saving your favorite things on thier menu! 
Explore the left side bar to get started.


