@page "/library"
@inject HttpClient Http 

<h1>Coffee Library</h1>

<p>Current library of local coffee</p>


@code {

        /*
    protected override async Task OnInitializedAsync()
    {
    }
    */

}
