@page "/library"
@inject HttpClient Http 

<h1>Coffee Library</h1>

<p>Current library of local coffee</p>

<RadzenCard Style="width:300px; margin-bottom: 20px; height:500px;">
    <div class="row">
        <h3>Saved</h3>
        <RadzenSwitch @bind-Value=@value Style="margin-bottom: 20px" Change=@(args => OnChange(args, "Saved")) />
        <div class="col-md-6">
            <div>Name of Drink</div>
            <b>Name of Drink</b>
            <div style="margin-top:20px">Description</div>
            <b>Description</b>
            <br />

            <div style="margin-top:20px">Location</div>
            <b>Location</b>
            <div style="margin-top:20px">Recipe</div>
            <b>recipe</b>

        </div>
    </div>
</RadzenCard>

@code {
    bool value;
    void OnChange(bool? value, string name)
    {
    }
        /*
    protected override async Task OnInitializedAsync()
    {
    }
    */

}
