@page "/library"
@inject HttpClient Http 

<h1>Coffee Library</h1>

<p>Current library of local coffee</p>

<RadzenCard Style="width:300px; margin-bottom: 20px; height:500px;">
    <div class="row">
        <div class="col-md-6">
            <div>Company:</div>
            <b>Name</b>
            <div style="margin-top:20px">Employee:</div>
            <b>coffee shop</b>
            <br />
        </div>
        <div class="col-md-6">
            <div>Freight:</div>
            <b>frieght stuff</b>
            <div style="margin-top:20px">Ship country:</div>
            <b>country)</b>
            <div style="margin-top:20px">Ship city:</div>
            <b>city</b>
            <div style="margin-top:20px">Ship name:</div>
            <b>name</b>
        </div>
    </div>
</RadzenCard>

@code {

        /*
    protected override async Task OnInitializedAsync()
    {
    }
    */

}
