@page "/submit"
@using System;
@using System.Collections.Generic;
@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Forms
@using BrickHack2021

<h1>Submit a new coffee</h1>
<EditForm Model="@coffee" OnValidSubmit="@HandleValidSubmit">
    <RadzenFieldset Text="Coffee Info">
        <div class="row">
            <div class="col-md-4 align-items-center d-flex">
                <RadzenLabel Text="Name of Drink" />
            </div>
            <InputText id="name" @bind-Value="coffee.name" />
        </div>
        <div class="row">
            <div class="col-md-4 align-items-center d-flex">
                <RadzenLabel Text="Description" />
            </div>
            <InputText id="description" @bind-Value="coffee.description" />
        </div>
    </RadzenFieldset>
    <RadzenTabs SelectedIndex="0">
        <Tabs>
            <RadzenTabsItem Text="Found at a Cafe Near You">
                <div class="row">
                    <div class="col-md-4 align-items-center d-flex">
                        <RadzenLabel Text="location" />
                    </div>
                    <div class="col-md-8">
                        <InputText id="store" @bind-Value="coffee.store" />
                    </div>
                </div>
            </RadzenTabsItem>
            <RadzenTabsItem Text="Homemade">
                <div class="row">
                    <div class="col-md-4 align-items-center d-flex">
                        <RadzenLabel Text="Recipe" />
                    </div>
                    <div class="col-md-8">
                        <InputText id="recipe" @bind-Value="coffee.recipe" />
                    </div>
                </div>
            </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>
    <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" />
</EditForm>

@code {
    
    public BrickHack2021.Coffee coffee = new BrickHack2021.Coffee(); 
    private void HandleValidSubmit()
    {
      Console.WriteLine(coffee.recipe);
    }
}

